<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a href="../index.php" class="navbar-brand d-flex flex-column">
			<i class="fas fa-paw"></i>
			<h4 class="">VP</h4>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="navbar-nav d-flex flex-row justify-content-between w-100">
				<div class="me-1 ms-1 d-flex flex-row">
					<a class="fs-4 fw-light text-green ms-2 me-2" href="/">Home</a>
					<a class="fs-4 fw-light text-green ms-2 me-2" href="/animal">Animals</a>
					<a class="fs-4 fw-light text-green ms-2 me-2" href="/animal/list">Animals list</a>
					<a class="fs-4 fw-light text-green ms-2 me-2" href="/animal/new">Add Animal</a>
				</div>
			
			</div>
		</div>

	</div>
</nav>
