<form method="post" action="{{ path('animal_adopt', {'id': animal.id}) }}" onsubmit="return confirm('Are you sure you want to adopt this pet?');">
	<input type="hidden" name="_token" value="{{ csrf_token('adopt' ~ animal.id) }}">
	<div class="mb-3">

	
        <button class="btn border-gold '. $display_tag .'" name="submitAdopt" type="submit">Take me home</button>
                    

	</div>
</form>